ul {
    text-decoration: none;
    list-style: none;
}

li {
    display: inline-block;
    margin: 10px 20px;
    color:white;
}


.main-links a {
    text-decoration: none;
    color: white;
}

.main-links a:hover,
.main-links a.active {
    color: white;
    border: 3px black double;
    border-radius: 70px;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:blue;
}